<h2 class="text-center mb-4">Welcome</h2>

<div class="row">
    <!-- Total Users Card -->
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body text-center">
               
                <p class="card-text fs-4 fw-bold text-primary"><%= totalUsers %></p>
            </div>
        </div>
    </div>

    <!-- Manage Users Card -->
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                    <h5 class="card-title">Manage Users</h5>
                </div>
                <a href="/admin/users" class="btn btn-primary">Go to Users</a>
            </div>
        </div>
    </div>
</div>
