<h2 class="text-center mb-4">Manage Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Eamil</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
               
                <td>
                    <!-- Actions such as Edit, Delete can be added here -->
                    <a href="#" class="btn btn-warning btn-sm">Edit</a>
                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
